<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.peitu.doorplateqrcode.mapper.TestMapper">
    <resultMap id="BaseResultMap" type="com.peitu.doorplateqrcode.entity.Test">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="code" property="code" jdbcType="VARCHAR"/>
        <result column="msg" property="msg" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="insert" parameterType="com.peitu.doorplateqrcode.entity.Test">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into test (id, code, msg
        )
        values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{msg,jdbcType=VARCHAR}
        )
    </insert>

</mapper>